@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

@font-face {
    font-family: 'future';
    src: url('../fonte/futuro.TTF') format('truetype');
    font-weight: normal;
}

*{
    margin: 0%;
    padding: 0%;
}

:root {
    --cor0 :#FFFFFF;
    --cor1 :#999999;
    --cor2 :#292F3D;
    --cor3 :#4D4D4D;
    --cor4 :#000000;

    --fonte-padrão : Arial, Helvetica, sans-serif;
    --fonte-títulos :  'future', cursive;
    --fonte-menu : 'Rammetto One', cursive;
} 

body {
    text-align: justify;
    margin: auto;
    font-family: var(--fonte-padrão);
    background-color: var(--cor2)
    
    
}

nav {
    background-color: var(--cor0);
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte-menu);
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 1.5em;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: 60px auto 60px auto;
    background-color: var(--cor3);
    border-radius: 1px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

main img {
   padding: 90px;
   margin: 10px auto 10px auto;
}

main h1 {
    text-align: center;
    padding: 10px;
    margin: 10px auto 10px auto;
    font-size: 2.5em;
    font-family: var(--fonte-títulos);
}

.sub {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px auto 10px auto;
}

h2 {
    text-indent: 10px;
    text-align: center;
    padding: 50px;
    margin: 20px auto 20px auto;
    font-family: var(--fonte-títulos);
    font-size: 3em
}

main p {
    padding: 10px;
    margin: 10px auto 10px auto;
}

main a {
    color: #FFFFFF;
    margin: 60px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 40px;
    
}

footer {
    text-align: right;
    margin: 10px;
}

