@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

@font-face {
    font-family: 'future';
    src: url('../fonte/futuro.TTF') format('truetype');
    font-weight: normal;
}

*{
    margin: 0%;
    padding: 0%;
}

:root {
    --cor0 :#6FC0E0;
    --cor1 :#028FC7;
    --cor2 :#016A94;
    --cor3 :#013347;
    --cor4 :#445054;

    --fonte-padrão : Arial, Helvetica, sans-serif;
    --fonte-títulos :  'future', cursive;
    --fonte-menu : 'Rammetto One', cursive;
} 

body {
    text-align: justify;
    margin: auto;
    font-family: var(--fonte-padrão);
    background-color: var(--cor0)
}

nav {
    background-color: var(--cor3);
    padding: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte-menu);
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: var(--cor1);
    margin: 20px;
    font-size: 1.5em;
    transition-duration: .5s;
}

nav a:hover {
    text-decoration: underline;
    color: var(--cor4)
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: 60px auto 60px auto;
    background-color: var(--cor3);
    border-radius: 1px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

main img {
   padding: 90px;
   margin: 10px auto 10px auto;
}

main h1 {
    text-align: center;
    padding: 10px;
    margin: 10px auto 10px auto;
    font-size: 2.5em;
    font-family: var(--fonte-títulos);
    color: var(--cor2);
}

.sub {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px auto 10px auto;
    color: white;
}

h2 {
    
    color: var(--cor2);
    text-indent: 10px;
    text-align: center;
    padding: 20px;
    margin: 20px auto 20px auto;
    font-family: var(--fonte-títulos);
    font-size: 3em
}

h2:hover {
    color: var(--cor4);
    text-decoration: underline;
   
}

h2 li {
    list-style-type: '\2714';
}


main p {
    padding: 10px;
    margin: 10px auto 10px auto;
}

main a {
    color: white;
    margin: 60px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 40px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor2)
}

footer {
    text-align: right;
    margin: 20px auto 20px auto;
    padding: 20px;
}

