@charset "UTF-8"; 

/* Configurações modo retrato */

body {
    background-image: url(../imagens/retrato.jpg);
    background-position: center bottom;
    width: 100vw;
    height: 100vh;
}

h1 {
    background-color: darkorange;
    border: 1px solid rgba(0, 0, 0, 0.404);
}
